html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

img {
    /* height: 100%; */
    width: 100%;
}

.header {
    display: flex;
    gap: 10px;
    background-color: #30396e;
    height: 7vh;
    color: white;
}

.header-button {
    display: flex;
    flex-direction: column;
    /* stack children vertically */
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2px;
}

.header-button>p {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.header-button:last-child {
    text-align: left;
    margin-left: auto;

}

.small-text {
    font-size: 8px;
}

.main {
    display: flex;
    height: auto;
    width: 100%;
}

.booking-interface {
    width: 60%;
    margin-left: 5px;
    margin-right: 5px;
}

.forms {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.form-1 {
    width: 41.75%;
}


.form-2 {
    width: 16.5%;
}

.form-2 > img {
    height: ;
}

.map {
    overflow: hidden; /* prevents spill */
}

.checkboxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.add-stop {
    border: 2px dashed #ccc;
    background: transparent;
    padding: 5px 10px;
    color: #999;
    cursor: pointer;
    border-radius: 3px;
    font-size: 10px;
    margin-top: 29px;
    width: 90%;
}

input,
textarea,
select {
    background-color: #f1f1f1;
    border: 1px solid #818181;
}

textarea {
    resize: none;
    height: 50px;
    width: 90%;
    /* width: 250px; */
}

input[type='text'] {
    width: 90%;
    height: 20px;
    margin-bottom: 8px;
}

select {
    min-width: 20px;
    width: 90%;
}



/* Förarkort */


.driver-select{
    height:43vh;
    overflow-y: auto;
    border: solid rgb(96, 96, 96) 1px;
    border-radius: 5px;

}

.card {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 5px 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: small;
}

.card:hover {
    background: #e7ecff;
}

.left {
    display: flex;
    gap: 16px;
    align-items: center;
}

.vehicle-id {
    background: #7edc8b;
    padding: 5px 16px;
    border-radius: 4px;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.top-row {
    display: flex;
    gap: 16px;
    align-items: center;
    font-weight: bold;
}

.meta {
    display: flex;
    gap: 16px;
    color: #333;
}

.tags {
    display: flex;
    gap: 8px;
    margin-top: 6px;
}

.tag {
    padding: 4px 10px;
    border-radius: 16px;
    background: #eee;
    font-size: 13px;
}

.tag.blue {
    background: #dbe6ff;
    color: #2a4bd7;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

.status {
    color: green;
    font-weight: bold;
    text-align: center;
}

.btn {
    padding: 4px 12px;
    border-radius: 4px;
    border: 1px solid #6574d4;
    background: transparent;
    color: #6574d4;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-filled {
    padding: 4px 12px;
    border-radius: 4px;
    border: 1px solid #6574d4;
    background: #6574d4;
    color: white;
    cursor: pointer;
}

.last-btns{
    display: flex;
    justify-content: right;
    margin-top: 7px;
}